@charset "utf-8";
/* CSS Document */


.main {
	text-align:center;
	color:#F0F;
	font-size:26px;
}

body {
	background-image:url(Portfolio%20Assests/Website-Background3.png);
}

.pics {
	display:inline-block;
	padding:0px;
	margin:9px;
	border: 5px solid violet;
}

img:hover {
	-webkit-transform:scale(1.5,1.5);
	transform:scale(1.5,1.5);
}